/* Slider */
.slick-list {
  max-width: 800px;
  margin: 0 auto;
}

.slick-slide {
  background-color: darksalmon;
  text-align: end;
  position: relative;
}

.Banner-contianer {
  max-width: 1000px;
}

.Banner-img {
  width: 100%;
}

/* Btn */
.Banner-btn {
  font-family: "Jua", sans-serif;
  font-size: 0.5rem;
  cursor: pointer;
  background-color: black;
  opacity: 0.4;
  color: white;
  border-radius: 4px;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
