body {
  margin: 0;
}

/* 백그라운드 어둡게 처리 */
.GPSModal-background {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  scrollbar-width: none;
}

/* 스크롤바 표시 안되게 */
.GPSModal-background::-webkit-scrollbar {
  display: none;
}

.GPSModal-active {
  box-sizing: border-box;
  position: fixed;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #fefeff;
  border-radius: 15px 15px 0% 0%;
  max-width: 100vw;
  width: 100%;
  /* padding 설정은 하단 애니메이션에서 */
  z-index: 91;
  scrollbar-width: none;
  overflow-x: hidden; /* 가로 스크롤 */
  overflow-y: auto;

  scroll-snap-type: y mandatory;
  overflow: scroll;
}

/* 스크롤바 표시 안되게 */
.GPSModal-active::-webkit-scrollbar {
  display: none;
}

.GPSModal-gridContainerTop {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;

  align-items: center;
  justify-items: stretch;
  align-content: start;
  justify-content: stretch;

  min-height: 20%;
}

h4 {
  text-align: center;
  margin: 0;
}

button {
  background: #fefeff;
  border: none;
}

a:visited {
  color: black;
}

.GPSModal-editBtn {
  position: absolute;
  right: 5%;
}

/* 검색창에 이미지 넣기 */
.GPSModal-inputParent {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  background-image: url(../assets/search.png);
  background-position: 15px center;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-size: auto 40%;
  height: 100%;
  border-radius: 10px;

  scroll-snap-align: start;
  overflow: visible;
}

/* 검색창 */
.GPSModal-input {
  align-items: center;
  border: none;
  background-color: #f5f5f5;
  max-width: 100%;
  width: 100%;
  padding: 0;
}
.GPSModal-setLocation {
  display: flex;
  align-items: center;
  background-image: url(../assets/gps.svg);
  background-position: 15px center;
  background-repeat: no-repeat;
  padding-left: 45px;
  background-size: auto 30%;
  height: 100%;
}

.GPSModal-mapModal {
  z-index: 100;
}

.GPSModal-seperator {
  position: relative;
  right: 6%; /* padding 채워줌 */
  max-width: 100vw;
  width: 100vw;
  height: 1%;
  background-color: #f5f5f5;
  scroll-snap-align: center;

  border-top: solid 1px #d8d8d8;
}

.GPSModal-gridContainerBottom {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  scroll-snap-align: start;
  overflow: visible;

  align-items: center;
  justify-items: stretch;
  align-content: start;
  justify-content: stretch;

  min-height: 20%;
}

.GPSModal-slot {
  display: flex;
  align-items: center;
  background-image: url(../assets/location.png);
  background-position: 15px center;
  background-repeat: no-repeat;
  padding-left: 45px;
  background-size: auto 30%;
  height: 100%;

  border-bottom: solid 1px #f5f5f5;
}

.GPSModal-active {
  animation-name: modalUp;
  animation-duration: 0.8s;
  animation-delay: 0s;
  animation-fill-mode: both;
}

@keyframes modalUp {
  from {
    max-width: 100vw;
    height: 0vh;
    padding: 50% 5%;
    top: 100vh;
    position: absolute;
  }
  to {
    max-width: 100vw;
    height: 100vh;
    padding: calc(1rem + 4vmin) 5% 0% 5%;
    top: 50vh;
    position: absolute;
  }
}

/* .GPSModal-window {
  animation-name: move002;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-fill-mode: both;
} */

/* @keyframes move002 {
  from {
      max-width: 100vw;
      height: 4rem;
      display: flex;
      flex-direction: row;
      top: 100%;
  }
  to {
      max-width: 100vw;
      height: 4rem;
      display: flex;
      flex-direction: row;
      top: 0%;
  }
} */
